$color0: #0F0918;
$color1: #613991;
$color2: #30378C;
$color3: #634DA1;
$color4: #334998;
$color5: #93509E;
$color6: #655DCE;
$color7: #cca6de;
$color8: #25153d;
$color9: #7c3cc9;
$color10: #323dc2;
$color11: #7954e0;
$color12: #3557d2;
$color13: #ca58dc;
$color14: #7265ff;
$color15: #ffd9ff;