$color0: #371d1c;
$color1: #DE7062;
$color2: #917987;
$color3: #E08679;
$color4: #767386;
$color5: #C77D82;
$color6: #A7919A;
$color7: #e1c8c7;
$color8: #582e2c;
$color9: #ff816a;
$color10: #cd8cb2;
$color11: #ff9d86;
$color12: #8e85be;
$color13: #ff8d96;
$color14: #eda8c4;
$color15: #fff0ef;