$color0: #0C0A03;
$color1: #934A34;
$color2: #C17D89;
$color3: #C38973;
$color4: #9E5A5F;
$color5: #AF728D;
$color6: #CC9BA7;
$color7: #e1cfd8;
$color8: #362c0a;
$color9: #cc5936;
$color10: #ff8da4;
$color11: #ffa981;
$color12: #dd646d;
$color13: #f681b5;
$color14: #ffb2cd;
$color15: #fff4ff;