* {
  accent:           #949ad3;
  background:       #0C0B0Ecc;
  background-light: #ffdeee;
  background-light-alpha: #e5b5e522;
  background-focus: #ffdeee;
  foreground:       #fffbf9;
  foreground-list:  #e8e0df;
  foreground-alpha: #fffbf911;
  on:               #fffbf9;
  off:              #e8e0df;
  background-opaque: #0C0B0E;
  background-muted: #23202a;
  accent2:          #ffdcf7;
}
