* {
  accent:           #6effff;
  background:       #311868cc;
  background-light: #f1b9f9;
  background-light-alpha: #ffbdff22;
  background-focus: #f1b9f9;
  foreground:       #e8ffff;
  foreground-list:  #c8e1ee;
  foreground-alpha: #e8ffff11;
  on:               #e8ffff;
  off:              #c8e1ee;
  background-opaque: #311868;
  background-muted: #5c2276;
  accent2:          #ffc5c8;
}
