* {
  accent:           #dbd0a0;
  background:       #0d1b12cc;
  background-light: #ffdb7e;
  background-light-alpha: #fbe1ac22;
  background-focus: #ffdb7e;
  foreground:       #ffffdf;
  foreground-list:  #f4dcbe;
  foreground-alpha: #ffffdf11;
  on:               #ffffdf;
  off:              #f4dcbe;
  background-opaque: #0d1b12;
  background-muted: #1c3d28;
  accent2:          #ddc46c;
}
