.org.chromium.Chromium.9BrrlN
Slack/
discord/
OpenRGB/
wpg/wallpapers/
wpg/schemes/
wpg/samples/
an-anime-game-launcher/
aseprite/
BetterDiscord\ Installer/
Cache/
cache/
CachedData/
Code/
Code*
libre*
lutris*
variety/
xournal/
spicetify/Extracted/
rofi-back/
pulse/
geany/
evolution/
Electron/
ckb-next/
BetterDiscord/data/
zoom/
StardewValley/
Thunar/
virt-viewer/
spotify/
qBittorrent/
Moonlight\ Game\ Streaming\ Project/
pamac/
qalculate/
nitrogen/
CrossCode/
autostart/
htop/
inkscape/
lxqt/
lxsession/
oomox/
remmina/
vlc/
xfce/
xfce4/
xournalpp/
yuzu/
spicetify/Backup/
FreeCAD/
cef_user_data/
freerdp/
applications-merged/
corectrl/
go/
dconf/
com.github.babluboy.nutty/
eog/
Unknown\ Organization/
whoozle.github.io/
xsettingsd/
UNIGINE/
.org.chromium.Chromium.gQt0NV
akregatorrc
arkrc
baloofileinformationrc
betterlockscreenrc.bak
dolphinrc
greenclip.toml
gtkrc
gtkrc-2.0
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kdeglobals
kglobalshortcutsrc
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
ktimezonedrc
kwinrc
kwinrulesrc
mimeapps.list
pavucontrol.ini
QtProject.conf
sddmthemeinstallerrc
systemsettingsrc
Trolltech.conf
zoomus.conf
configstore/update-notifier-electron-builder.json
goa-1.0/accounts.conf
gtk-2.0/gtkfilechooser.ini
gtk-3.0/bookmarks
gtk-3.0/settings.ini
ibus/bus/aa226d9d9c734b37b74151fdb231d340-unix-0
ibus/bus/aa226d9d9c734b37b74151fdb231d340-unix-wayland-0
kde.org/UserFeedback.org.kde.dolphin.conf
spicetify/config-xpui.ini
wpg/.current
wpg/keywords.conf
wpg/sequences
fooba.sh
eww/info_center/secrets
goverlay/*
Nextcloud/logs/*
autorandr/*
configstore/update-notifier-npm.json
Nextcloud/nextcloud.cfg
Nextcloud/nextcloud.cfg.backup_20221224_055455_3.6.0git
SideQuest/*
wireplumber/main.lua.d/51-disable-suspension.lua
Valve/vrmonitor.conf
VA_11_Hall_A/saves/steam_autocloud.vdf
openvr/openvrpaths.vrpath
openxr/1/active_runtime.json
alvr/*
kicad/*
eww/info_center/scripts/__pycache__/moon.cpython-311.pyc
SuperSlicer/*
winapps/winapps.conf
spicetify/CustomApps/marketplace/extension.js
.gitignore
spicetify/CustomApps/marketplace/manifest.json
spicetify/CustomApps/marketplace/index.js
simple-scan/state
spicetify/CustomApps/marketplace/README.md
.gitignore
spicetify/CustomApps/marketplace/style.css
