@import "../colors.scss";

* {
    font-family: "JetBrainsMono Nerd Font";
    all: unset;
}

.control-center {
    background-color: $color0;
    font-family: "JetBrainsMono Nerd Font", "Material Design Icons Desktop";
    border-radius: 17px;
    // border: 2px solid $color9;s
}

.control-center-headers {
    padding: 1.5em 3em 1em 2em;
    color: $color9;
}

.control-center-headers-label {
    font-size: 28;
    font-weight: bold;
    color: $color9;
    font-family: "JetBrainsMono Nerd Font";
    text-shadow: 5px 5px 5px #000000;
}

.control-center-headers-clear {
    font-weight: bold;
    padding: 0em 0.4em 0em 0.3em;
    margin-bottom: 0.2em;
    margin-right: -0.5em;
    color: $color0;
    background-color: $color9;
    border-radius: 15px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 36px;
    box-shadow: 5px 5px 5px #000000;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.control-center-headers-clear:hover {
    color: $color15;
    background-color: shade($color9, 0.8);
}

.control-center-empty-box {
    padding-left: 1em;
    padding-right: 1em;
}

.control-center-empty-label {
    padding-top: 2em;
    color: $color12;
    font-size: 22;
    padding-left: 2em;
    padding-right: 2em;
}

.control-center-scroll-box {
    padding: 2em 1.5em 0 1.1em;
}

.control-center-card-eventbox {
    background-color: $color8;
    border-radius: 15px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.control-center-card-eventbox:hover {
    color: $color15;
    background-color: shade($color8, 0.8);
}

.control-center-card-box {
    padding: 1.7em;
}

.control-center-separator {
    padding: 0;
    color: $color1;
}

.control-center-LOW {
    background-color: $color8;
    color: $color5;
    padding: 0 1em 0 0.7em;
    font-size: 30;
    border-radius: 12px;
}

.control-center-NORMAL {
    background-color: $color8;
    color: $color9;
    padding: 0 1em 0 0.7em;
    font-size: 30;
    border-radius: 12px;
}

.control-center-CRITICAL {
    background-color: $color15;
    color: $color0;
    padding: 0 1em 0 0.7em;
    font-size: 30;
    border-radius: 12px;
}

.control-center-OTHER {
    background-color: $color8;
    color: $color11;
    padding: 0 1em 0 0.7em;
    font-size: 30;
    border-radius: 13px;
}

.control-center-spotify {
    background-color: $color8;
    color: $color11;
    padding: 0 1em 0 0.7em;
    font-size: 30;
}

.control-center-sxhkd {
    background-color: $color8;
    color: $color9;
    padding: 0 1em 0 0.7em;
    font-size: 30;
}

.control-center-brightness {
    background-color: $color8;
    color: $color5;
    padding: 0 1em 0 0.7em;
    font-size: 30;
}

.control-center-summary {
    font-weight: bold;
    font-size: 17;
    color: $color15;
}

.control-center-card-notify-close {
    color: $color8;
    background-color: $color6;
    border-radius: 30px;
    font-size: 24;
    padding: 0em 0.4em 0em 0.374em;
    margin-bottom: 0.3em;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.control-center-card-notify-close:hover {
    color: $color9;
    border-radius: 15px;
    background-color: $color0;
}

.control-center-body {
color: $color15;
}

.control-center-bodytext {
    color: $color6;
}

.control-center-tray {
    background-color: $color8;
    margin: 20px 20px 0px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000000;
}

.control-center-buttons {
    background-color: $color0;
    margin: 10px 10px 0px 10px;
    border-radius: 20px;
    padding: 15px 0px 15px 0px;
    box-shadow: 5px 5px 5px #121212;
}

.net-status-on {
    color: $color0;
    background-color: $color9;
    margin: 0px 19px 0px 19px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.net-status-off {
    color: $color15;
    background-color: $color8;
    margin: 0px 19px 0px 19px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.net-status-button:hover {
    color: $color15;
    background-color: shade($color9, 0.8);
}

.net-set-button {
    color: $color0;
    background-color: $color9;
    margin: 0px 19px 0px 19px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.net-set-button:hover {
    color: $color15;
    background-color: shade($color9, 0.8);
}

.comp-status-on {
    color: $color0;
    background-color: $color11;
    margin: 0px 19px 0px 19px;
    padding: 0.5em 0em 0.5em 0em;
    border-radius: 15px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.comp-status-off {
    color: $color15;
    background-color: $color8;
    margin: 0px 19px 0px 19px;
    padding: 0.5em 0em 0.5em 0em;
    border-radius: 15px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.comp-status-button:hover {
    color: $color15;
    background-color: shade($color11, 0.8);
}

.vpn-status-button {
    color: $color0;
    background-color: $color5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0px 19px 0px 19px;
    font-size: 20px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.vpn-status-button:hover {
    color: $color15;
    background-color: shade($color5, 0.8);
}

.vpn-set-button {
    color: $color0;
    background-color: $color5;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0px 19px 0px 19px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.vpn-set-button:hover {
    color: $color15;
    background-color: shade($color5, 0.8);
}

.bluetooth-status-on {
    color: $color0;
    background-color: $color13;
    margin: 0px 19px 0px 19px;
    padding: 3px 0px 0px 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.bluetooth-status-off {
    color: $color15;
    background-color: $color8;
    margin: 0px 19px 0px 19px;
    padding: 3px 0px 0px 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.bluetooth-status-button:hover {
    color: $color15;
    background-color: shade($color13, 0.8);
}

.bluetooth-set-button {
    color: $color0;
    background-color: $color13;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0px 19px 0px 19px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.bluetooth-set-button:hover {
    color: $color15;
    background-color: shade($color13, 0.8);
}

.dunst-status-on {
    color: $color0;
    background-color: $color2;
    margin: 0px 19px 0px 19px;
    padding: 0.5em 0em 0.5em 0em;
    border-radius: 15px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.dunst-status-off {
    color: $color15;
    background-color: $color8;
    margin: 0px 19px 0px 19px;
    padding: 0.5em 0em 0.5em 0em;
    border-radius: 15px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.dunst-status-button:hover {
    color: $color15;
    background-color: shade($color2, 0.8);
}

.redshift-status-on {
    color: $color9;
    background-color: $color8;
    margin: 0px 19px 0px 19px;
    padding: 0.4em 0em 0.5em 0em;
    border-radius: 15px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.redshift-status-off {
    color: $color0;
    background-color: $color15;
    margin: 0px 19px 0px 19px;
    padding: 0.5em 0em 0.5em 0em;
    border-radius: 15px;
    font-size: 24px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.redshift-status-button:hover {
    color: $color15;
    background-color: shade($color15, 0.85);
}

.volume-slider-stuff {
    margin: 20px 20px 10px 20px;
}

.volume-slider-icon {
    color: $color5;
    padding: 10px 16px 10px 10px;
    margin-right: 10px;
    font-size: 22px;
    background-color: $color9;
    color: $color0;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #121212;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.volume-slider trough {
    border-radius: 20px;
    background-color: $color0;
}

.volume-slider highlight {
    padding: 0.5em;
    border-radius: 20px;
    background: linear-gradient(to left, $color9, $color14);
}

.volume-slider-icon:hover {
    color: $color15;
    background-color: shade($color9, 0.8);
}

.mic-slider-stuff {
    margin: 10px 20px 10px 20px;
}

.mic-slider-icon {
    color: $color0;
    background-color: $color14;
    padding: 10px 13px 10px 12px;
    margin-right: 10px;
    font-size: 22px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #121212;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.mic-slider-icon:hover {
    color: $color15;
    background-color: shade($color14, 0.8);
}

.mic-slider trough {
    border-radius: 20px;
    background-color: $color0;
}

.mic-slider highlight {
    padding: 0.5em;
    border-radius: 20px;
    background: linear-gradient(to left, $color9, $color14);
}

.spotify-center-tray {
    border-top: 2px dotted $color6;
    border-bottom: 2px dotted $color6;
    margin: 0px 20px 0px 20px;
}

.spotify-text {
    color: $color15;
    margin: 3px 0px 0px 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16;
}

.spotify-scroll {
    color: $color15;
    padding: 0em;
    margin: 20px 0px 5px 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 20;
}

.dotted-separator {
    border-bottom: 2px dotted $color6;
    margin: 10px 0px 20px 0px;
}

.spotify-move-button {
    color: $color7;
    margin: 10px 15px 10px 12px;
    border-radius: 15px;
    background-color: $color0;
    font-size: 30;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.spotify-toggle-button {
    color: $color0;
    border-radius: 15px;
    background-color: $color1;
    font-size: 48;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.spotify-move-button:hover {
    color: $color15;
    background-color: shade($color8, 0.8);
}

.spotify-toggle-button:hover {
    color: $color15;
    background-color: shade($color1, 0.8);
}

.visualizer {
    color: $color9;
    margin: 5px 0px 5px 0px;
    font-family: "mononokiNerdFont";
    font-size: 20;
}

.prog-display {
    margin: 0px 0px 0px 5px;
    padding: 25px 0px 0px 0px;
    font-size: 12;
    color: $color4;
}

.song-progress trough {
    background-color: $color8;
    color: $color14;
    border-radius: 20px;
    min-width: 140px;
    min-height: 6px;
    margin: 25px 0px 0px 5px;
}

.song-progress trough highlight {
    border-radius: 20px;
    background: linear-gradient(to right, $color8, $color9);
}