@import "../colors.scss";

// General stuff
* {
    font-family: "JetBrainsMono Nerd Font";
    all: unset;
}

.info-center {
    background-color: $color0;
    // border: 2px solid $color9;
    border-radius: 17px;
    font-family: "JetBrainsMono Nerd Font", "Material Design Icons Desktop";
}

.info-center-mainbox {
    border-radius: 17px;
    margin: 20px;
}

.graph-window {
    background-color: $color0;
    border: 2px solid $color9;
    border-radius: 17px;
    font-family: "JetBrainsMono Nerd Font", "Material Design Icons Desktop";
}

.info-center-header-text {
    font-size: 28;
    font-weight: bold;
    color: $color9;
    font-family: "JetBrainsMono Nerd Font";
    text-shadow: 5px 5px 5px #000000;
}

.profile-img {
    margin: 10px;
}

.sys-label-text {
    color: $color7;
    font-size: 18;
    margin: 0px 0px 0px 10px;
}

// Circular Progress 
.circle-box {
    margin: 0px 20px 20px 20px;
}

.circle-box-label {
    color: $color9;
    background-color: $color0;
    margin: 0px 50px 13px 50px;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    font-size: 16;
}

.stat-circle {
    background-color: $color0;
}

.circle-label-button {
    background-color: $color1;
    color: $color0;
    font-size: 64;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.circle-label-button:hover {
    color: shade($color7, 0.8);
}

// Time/weather/date stuff
.overview-box {
    background-color: $color8;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000;
}

.temporal-box {
    background-color: $color0;
    border-radius: 10px;
}

.divider-text {
    color: $color0;
    border-right: 2px dotted $color6;
}

.host-label {
    color: $color14;
    font-size: 18;
    font-style: italic;
    margin: 10px 0px 10px 10px;
}

.sys-symbol-text {
    color: $color9;
    font-size: 28;
    margin: 0px 10px 0px 10px;
}

.time-label-text {
    color: $color14;
    font-size: 28;
    font-weight: bold;
    margin: 10px 0px 0px 10px;
}

.date-label-text {
    color: $color6;
    font-size: 16;
    margin: 0px 15px 10px 10px;
}

.current-weather-text {
    color: $color4;
    font-size: 24;
    font-weight: bold;
}

.time-weather-button {
    color: $color6;
    font-size: 36;
    border-radius: 10px;
    transition-duration: 300ms;
    transition-timing-function: linear;
    transition-delay: 10ms;
}

.time-weather-button:hover {
    color: $color7;
    background-color: shade($color8, 0.7);
}

// Calendar/weather widget
.cal-weather-box {
    border-radius: 0px;
    padding: 0px;
}

.cal-box {
    margin: 0px 0px 0px 0px;
}

.overview-calendar {
    color: $color2;
    border-top: 2px dotted $color6;
    .overview-calendar {
        &.highlight {
            color: $color9;
        }
    }
}

calendar:selected {
    color: $color15;
}

calendar.highlight {
    color: $color13;
    font-weight: bold;
}

calendar:indeterminate {
    color: $color8;
}

// Detailed weather widget
.weather-box {
    border-top: 2px dotted $color6;
    border-bottom: 2px dotted $color6;
}

.current-weather-icon-big {
    color: $color9;
    font-size: 54;
    margin: 0px 20px 0px 0px;
}

.current-main-weather-text {
    color: $color7;
    font-size: 28;
    font-weight: bold;
    margin: 0px 0px 0px 10px;
}

.current-vibes-weather-text {
    color: $color2;
    font-size: 20;
    font-style: italic;
}

.current-sub-weather-text {
    color: $color2;
    margin: 2px 0px 0px 10px;
    font-size: 15;
}

.forecast-header-text {
    color: $color1;
}

.hourly-scale-box {
    margin: 10px 0px 10px 0px;
}

.hourly-temp-meter trough {
    color: $color9;
    background-color: $color8;
    min-width: 30px;
    min-height: 12px;
}

.hourly-temp-meter trough highlight {
    background: linear-gradient(to top, $color0, $color1);
}

.hourly-time-text {
    color: $color2;
    font-size: 12;
}

.daily-name-text {
    color: $color2;
    font-size: 16;
}

.daily-temperature-icon {
    color: $color12;
    font-size: 20;
}

.daily-description-text {
    color: $color2;
    font-size: 10;
}

.daily-temperature-text {
    color: $color2;
    font-size: 14;
    margin: 0px 0px 5px 0px;
}

// Networking information
.network-symbol-text {
    color: $color9;
    font-size: 28;
    margin: 10px 10px 10px 20px;
}

.network-label-text, .network-label-text-lowmargin {
    color: $color13;
    font-size: 13;
}

.network-label-text {
    margin: 5px 10px 10px 20px;
}

.network-label-text-lowmargin {
    margin: 5px 10px 10px 0px;
}


.network-conn-text {
    color: $color7;
    font-size: 16;
    margin: 0px 0px 12px 10px;
}

// Filesystem Stuff

.fs-symbol-text {
    color: $color12;
    font-size: 28;
    margin: 0px 20px 0px 10px;
}

.fs-label-text {
    color: $color4;
    font-size: 16;
    margin: 0px 0px 0px 10px;
}

.fs-label-progress trough {
    color: $color9;
    background-color: $color8;
    border-radius: 5px;
    min-height: 7px;
    min-width: 10px;
}

.fs-label-progress highlight {
    background: $color12;
    border-radius: 5px;
}

// Plotting stuff
.plot-header-text {
    color: $color7;
    font-size: 24;
    font-weight: bold;
    text-shadow: 5px 5px 5px #000000;
}

.plot-tr-inputbox {
    color: $color0;
    background-color: $color6;
    border: 2px solid $color6;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 5px #000000;
}

.plot-tr-inputbox:checked {
    color: $color6;
}

.graph-box-backdrop {
    background-color: $color0;
    border-radius: 17px;
}

.plot-scroll-box {
    background-color: $color0;
    margin: 20px;
    border-radius: 17px;;
}

.plot-label-text {
    color: $color9;
    font-size: 18;
    margin: 10px 0px 0px 10px;
    text-shadow: 5px 5px 5px #000000;
}

.plot-stat-box {
    background-color: $color8;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000;
}

.plot-scale-box-text, .plot-scale-box-bat {
    color: $color12;
    font-size: 12;
    font-style: italic;
    margin: 3px 0px 3px 0px;
    padding: 0px 5px 0px 0px;
}

.plot-scale-box-text {
    border-right: 2px dotted $color14;
}


.plot-display-text {
    color: $color12;
    font-size: 14;
    border-left: 2px dotted $color14;
}

.plot-display-text-freq {
    color: $color12;
    font-size: 10;
    border-left: 2px dotted $color14;
}

.plot-scale-text-freq {
    color: $color12;
    font-size: 10;
    font-style: italic;
}

.plot-border-separator {
    background-color: $color0;
}

.stat-graph {
    color: $color7;
}

.cpu-thread-label {
    color: $color5;
    margin: 2px 2px 2px 2px;
    font-size: 14;
}

.cpu-thread-scale trough {
    background-color: $color8;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
}

.cpu-thread-scale highlight {
    padding: 0.5em;
    border-radius: 20px;
    background: linear-gradient(to left, $color9, $color14);
}

.cpu-thread-overview {
    color: $color9;
    font-weight: bold;
    font-size: 18;
    text-shadow: 5px 5px 5px #000000;
}

.overview-box-tile-right, .overview-box-tile-left {
    background-color: $color8;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000000;
}

.battery-graph-box {
    margin: 10px 0px 10px 0px;
    padding: 20px 0px 20px 0px;
    border-bottom: 2px dotted $color6;
    border-top: 2px dotted $color6;
}

.battery-symbol {
    font-size: 125;
    color: $color0;
    padding: 0px 0px 30px 0px;
}

.battery-percentage-display {
    font-size: 18;
    color: $color0;
    font-weight: bold;
    padding: 120px 0px 0px 0px;
}

.big-progress-bar-bat-charging trough, .big-progress-bar-bat-discharging trough {
    background-color: $color8;
    border-radius: 10px;
    min-width: 75px;
    margin: 0px 0px 10px 0px;
    min-height: 175px;
    box-shadow: 5px 5px 5px #00000000;
}

.big-progress-bar-bat-charging highlight {
    background: repeating-linear-gradient(to right, $color0, $color9);
    border-radius: 10px;
}

.big-progress-bar-bat-discharging highlight {
    background: linear-gradient(to right, $color0, $color14);
    border-radius: 10px;
}

