configuration {
  show-icons:         true;
  icon-theme:         "Inverse-black";
  cycle:              true;
  disable-history:    false;
  modi:               "drun";
  display-drun:       "";
  drun-display-format: "{name}";
}